.container {
  display: flex;
  background: #1c3b57;
  padding: 50px;
  border-radius: 10px;
  gap: 50px;
  min-height: 300px;
}

.container-wrapper {
  display: flex;
}

.current-number-container {
  width: 200px;
}

.container-controls {
  display: flex;
  gap: 50px;
}

.game-buttons {
  display: flex;
  flex-direction: column;
}

.container-middle {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  min-width: 200px;
}
@media (width <= 800px) {
  .container {
    gap: 30px;
    background: unset;
    padding: 30px;
  }
  .container-controls {
    flex-direction: column;
  }
}

.footer {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}

a {
  color: #28c76f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
