body {
  margin: 0;
  display: flex;
  height: 100vh;
  background: #0a2540;
  color: #f0f4fa;
  align-items: center;
  justify-content: center;

  font-family: "Montserrat", sans-serif;
}

@media (width <= 800px) {
  body {
    align-items: flex-start;
  }
}
